.btn {
  align-items: center;
  border-radius: 50px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 3rem 0 1rem 0;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

.btn--primary {
  background: var(--color-primary);
}
.btn--primary:hover {
  background: #0a4ddd;
}

.btn--secondary {
  background: var(--color-secondary);
}
.btn--secondary:hover {
  background: #06adca;
}

.btn--accent {
  background: var(--color-accent);
}
.btn--accent:hover {
  background: #f57647;
}

.btn--outline {
  background: 0;
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
  justify-content: center;
}

.btn--outline:hover {
  background: var(--color-heading);
  color: #fff;
}

.btn--block {
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
