.callout {
  padding: 5rem 3rem;
  border-radius: 10px;
  position: relative;
  top: -120px;
}

.callout-container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: -60px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
