.footer {
  background: #232323;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
  margin-bottom: 2rem;
  width: 100%;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand > img {
  max-width: 250px;
}

.footer__copyright {
  font-size: 2rem;
  color: #fff;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer .grid {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
  }

  .footer__brand {
    order: -1;
    margin-top: 0;
  }

  .footer .collapsible__toggler {
    display: none;
  }

  .footer .collapsible__content {
    font-size: 1.5rem;
    max-height: 100vh;
    opacity: 1;
  }

  .items > li {
    margin-bottom: 2rem;
  }

  .footer__heading {
    font-size: 2rem;
  }

  .footer__section {
    border: 0;
  }
}
