.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background: var(--color-accent);
}

.icon--search {
  fill: #fff;
  height: 36px;
  margin: 6px 15px 0 0;
  transform: rotate(-10deg);
  width: 36px;
}
