.showcase {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.showcase .media__title {
  color: #fff;
}

.showcase .media {
  margin-bottom: 0;
}

.showcase__heading {
  color: #fff;
  margin-bottom: 4rem;
}

.grid-showcase {
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  align-items: center;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .showcase {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  }

  .grid-showcase {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (min-width: 1024px) {
  .showcase {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
  }

  .grid-showcase {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .box-one {
    grid-row: 1/4;
  }
}
